In [1]:
import pandas as pd

import sys
import os
project_root = os.path.abspath("..")  # Add the project root to the Python path
if project_root not in sys.path:
    sys.path.insert(0, project_root)
    sys.path.append(os.path.abspath('../src/'))

from src.data_preprocessing import DataPreprocessor


file_path = (
    "../data/raw/financial_regression.csv"  # Adjust the path based on your directory structure
)
data_preprocessor = DataPreprocessor(file_path)
df = data_preprocessor.load_data(file_path)
df.head()

,date,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold open,gold high,gold low,gold close,gold volume
0,2010-01-14,114.49,115.14,114.42,114.93,115646960.0,0.72,46.26,46.520,46.22,...,45.02,43.86,44.84,364528.0,1.16,111.51,112.37,110.79,112.03,18305238.0
1,2010-01-15,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,...,45.76,44.40,45.76,442210.0,1.36,111.35,112.01,110.38,110.86,18000724.0
2,2010-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-19,113.62,115.13,113.59,115.06,138671890.0,1.54,45.96,46.640,45.95,...,47.08,45.70,46.94,629150.0,1.38,110.95,111.75,110.83,111.52,10467927.0
4,2010-01-20,114.28,114.45,112.98,113.89,216330645.0,1.47,46.27,46.604,45.43,...,47.31,45.17,47.05,643198.0,2.14,109.97,110.05,108.46,108.94,17534231.0

In [2]:
# columns_backfill = ['us_rates_%','CPI','GDP']
# df_back = df
# df_back[columns_backfill] = df_back[columns_backfill].fillna(method='bfill')

In [3]:
# df_back.loc[:,('date','us_rates_%','CPI','GDP')].head(50)

In [4]:
df.dtypes

date                   object
sp500 open            float64
sp500 high            float64
sp500 low             float64
sp500 close           float64
sp500 volume          float64
sp500 high-low        float64
nasdaq open           float64
nasdaq high           float64
nasdaq low            float64
nasdaq close          float64
nasdaq volume         float64
nasdaq high-low       float64
us_rates_%            float64
CPI                   float64
usd_chf               float64
eur_usd               float64
GDP                   float64
silver open           float64
silver high           float64
silver low            float64
silver close          float64
silver volume         float64
silver high-low       float64
oil open              float64
oil high              float64
oil low               float64
oil close             float64
oil volume            float64
oil high-low          float64
platinum open         float64
platinum high         float64
platinum low          float64
platinum close        float64
platinum volume       float64
platinum high-low     float64
palladium open        float64
palladium high        float64
palladium low         float64
palladium close       float64
palladium volume      float64
palladium high-low    float64
gold open             float64
gold high             float64
gold low              float64
gold close            float64
gold volume           float64
dtype: object

In [5]:
columns_to_interploate = ['us_rates_%','CPI','GDP','usd_chf','eur_usd']
df['date']  = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
df[columns_to_interploate] = df[columns_to_interploate].interpolate(method='time')
df.reset_index(inplace=True)
df[columns_to_interploate] = df[columns_to_interploate].fillna(method='bfill')

#df.head(50)

In [6]:
#df[columns_to_interploate] = df[columns_to_interploate].fillna(method='bfill')

In [7]:

# df.head()
df.loc[0:20,('us_rates_%','CPI','GDP','usd_chf','eur_usd')]

    us_rates_%         CPI        GDP  usd_chf   eur_usd
0     0.130000  217.281000  14980.193   1.0206  1.447800
1     0.130000  217.281000  14980.193   1.0264  1.437600
2     0.130000  217.281000  14980.193   1.0321  1.429575
3     0.130000  217.281000  14980.193   1.0340  1.426900
4     0.130000  217.281000  14980.193   1.0453  1.409400
5     0.130000  217.281000  14980.193   1.0426  1.410600
6     0.130000  217.281000  14980.193   1.0400  1.415400
7     0.130000  217.281000  14980.193   1.0403  1.414600
8     0.130000  217.281000  14980.193   1.0466  1.406300
9     0.130000  217.281000  14980.193   1.0472  1.405300
10    0.130000  217.281000  14980.193   1.0517  1.399300
11    0.130000  217.281000  14980.193   1.0557  1.387000
12    0.130000  217.281000  14980.193   1.0586  1.390400
13    0.131071  217.283571  14980.193   1.0557  1.395500
14    0.132143  217.286143  14980.193   1.0590  1.390700
15    0.133214  217.288714  14980.193   1.0655  1.375900
16    0.134286  217.291286  14980.193   1.0779  1.360800
17    0.137500  217.299000  14980.193   1.0696  1.369900
18    0.138571  217.301571  14980.193   1.0641  1.379500
19    0.139643  217.304143  14980.193   1.0682  1.372200
20    0.140714  217.306714  14980.193   1.0747  1.364000

In [8]:
df = df.dropna(subset=['date','gold close'])

In [9]:
df.isna().sum()

date                  0
sp500 open            0
sp500 high            0
sp500 low             0
sp500 close           0
sp500 volume          0
sp500 high-low        0
nasdaq open           0
nasdaq high           0
nasdaq low            0
nasdaq close          0
nasdaq volume         0
nasdaq high-low       0
us_rates_%            0
CPI                   0
usd_chf               0
eur_usd               0
GDP                   0
silver open           0
silver high           0
silver low            0
silver close          0
silver volume         0
silver high-low       0
oil open              0
oil high              0
oil low               0
oil close             0
oil volume            0
oil high-low          0
platinum open         0
platinum high         0
platinum low          0
platinum close        0
platinum volume       0
platinum high-low     0
palladium open        0
palladium high        0
palladium low         0
palladium close       0
palladium volume      0
palladium high-low    0
gold open             0
gold high             0
gold low              0
gold close            0
gold volume           0
dtype: int64

In [10]:
duplicates = df['date'].duplicated().sum()
duplicates

0

In [11]:
df.head()

,date,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold open,gold high,gold low,gold close,gold volume
0,2010-01-14,114.49,115.14,114.42,114.93,115646960.0,0.72,46.26,46.520,46.22,...,45.02,43.86,44.84,364528.0,1.16,111.51,112.37,110.79,112.03,18305238.0
1,2010-01-15,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,...,45.76,44.40,45.76,442210.0,1.36,111.35,112.01,110.38,110.86,18000724.0
3,2010-01-19,113.62,115.13,113.59,115.06,138671890.0,1.54,45.96,46.640,45.95,...,47.08,45.70,46.94,629150.0,1.38,110.95,111.75,110.83,111.52,10467927.0
4,2010-01-20,114.28,114.45,112.98,113.89,216330645.0,1.47,46.27,46.604,45.43,...,47.31,45.17,47.05,643198.0,2.14,109.97,110.05,108.46,108.94,17534231.0
5,2010-01-21,113.92,114.27,111.56,111.70,344747028.0,2.71,46.06,46.350,45.30,...,46.98,45.07,45.30,388457.0,1.91,108.48,108.78,106.61,107.37,25747831.0

In [12]:
df.loc[100:150,('us_rates_%','CPI','GDP','usd_chf','eur_usd')]

     us_rates_%         CPI           GDP  usd_chf  eur_usd
100    0.180000  217.212533  15090.167374   1.1575   1.2206
101    0.180000  217.226067  15091.941154   1.1540   1.2193
102    0.180000  217.239600  15093.714934   1.1614   1.1998
103    0.180000  217.280200  15099.036275   1.1613   1.1959
104    0.180000  217.293733  15100.810055   1.1510   1.1995
105    0.180000  217.307267  15102.583835   1.1455   1.2045
106    0.180000  217.320800  15104.357615   1.1418   1.2111
107    0.180000  217.334333  15106.131396   1.1521   1.2077
108    0.180000  217.374933  15111.452736   1.1378   1.2277
109    0.180000  217.388467  15113.226516   1.1310   1.2327
110    0.180000  217.402000  15115.000297   1.1267   1.2323
111    0.180000  217.415533  15116.774077   1.1137   1.2365
112    0.180000  217.429067  15118.547857   1.1107   1.2360
113    0.180000  217.469667  15123.869198   1.1080   1.2385
114    0.180000  217.483200  15125.642978   1.1047   1.2303
115    0.180000  217.496733  15127.416758   1.1053   1.2310
116    0.180000  217.510267  15129.190538   1.1048   1.2288
117    0.180000  217.523800  15130.964319   1.0937   1.2332
118    0.180000  217.564400  15136.285659   1.0860   1.2316
119    0.180000  217.577933  15138.059440   1.0810   1.2187
120    0.180000  217.591467  15139.833220   1.0774   1.2291
121    0.180000  217.605000  15141.607000   1.0675   1.2464
122    0.180323  217.615258  15143.431641   1.0635   1.2577
124    0.181613  217.656290  15150.730207   1.0587   1.2646
125    0.181935  217.666548  15152.554848   1.0545   1.2594
126    0.182258  217.676806  15154.379489   1.0502   1.2683
127    0.182581  217.687065  15156.204130   1.0577   1.2639
128    0.183548  217.717839  15161.678054   1.0621   1.2573
129    0.183871  217.728097  15163.502696   1.0524   1.2719
130    0.184194  217.738355  15165.327337   1.0556   1.2755
131    0.184516  217.748613  15167.151978   1.0421   1.2893
132    0.184839  217.758871  15168.976620   1.0522   1.2919
133    0.185806  217.789645  15174.450543   1.0524   1.2963
134    0.186129  217.799903  15176.275185   1.0481   1.2905
135    0.186452  217.810161  15178.099826   1.0520   1.2818
136    0.186774  217.820419  15179.924467   1.0403   1.2903
137    0.187097  217.830677  15181.749109   1.0529   1.2874
138    0.188065  217.861452  15187.223033   1.0480   1.2983
139    0.188387  217.871710  15189.047674   1.0622   1.2983
140    0.188710  217.881968  15190.872315   1.0578   1.2998
141    0.189032  217.892226  15192.696957   1.0412   1.3064
142    0.189355  217.902484  15194.521598   1.0410   1.3069
144    0.190000  217.934355  15199.995522   1.0379   1.3174
145    0.190000  217.945710  15201.820163   1.0384   1.3239
146    0.190000  217.957065  15203.644804   1.0514   1.3158
147    0.190000  217.968419  15205.469446   1.0475   1.3157
148    0.190000  217.979774  15207.294087   1.0365   1.3282
149    0.190000  218.013839  15212.768011   1.0457   1.3241
150    0.190000  218.025194  15214.592652   1.0575   1.3095

In [13]:
df.head()

,date,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold open,gold high,gold low,gold close,gold volume
0,2010-01-14,114.49,115.14,114.42,114.93,115646960.0,0.72,46.26,46.520,46.22,...,45.02,43.86,44.84,364528.0,1.16,111.51,112.37,110.79,112.03,18305238.0
1,2010-01-15,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,...,45.76,44.40,45.76,442210.0,1.36,111.35,112.01,110.38,110.86,18000724.0
3,2010-01-19,113.62,115.13,113.59,115.06,138671890.0,1.54,45.96,46.640,45.95,...,47.08,45.70,46.94,629150.0,1.38,110.95,111.75,110.83,111.52,10467927.0
4,2010-01-20,114.28,114.45,112.98,113.89,216330645.0,1.47,46.27,46.604,45.43,...,47.31,45.17,47.05,643198.0,2.14,109.97,110.05,108.46,108.94,17534231.0
5,2010-01-21,113.92,114.27,111.56,111.70,344747028.0,2.71,46.06,46.350,45.30,...,46.98,45.07,45.30,388457.0,1.91,108.48,108.78,106.61,107.37,25747831.0

In [14]:
import numpy as np

In [ ]:
# Create numeric features from date
df['days_since_start'] = (df['date'] - df['date'].min()).dt.days
df['month'] = df['date'].dt.month
df['month_sin'] = np.sin(2 * np.pi * df['month'] / 12)
df['month_cos'] = np.cos(2 * np.pi * df['month'] / 12)

# Drop raw date column
df = df.drop(columns=['date','month'])

In [16]:
df.head()

,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,nasdaq close,...,palladium high-low,gold open,gold high,gold low,gold close,gold volume,days_since_start,month,month_sin,month_cos
0,114.49,115.14,114.42,114.93,115646960.0,0.72,46.26,46.520,46.22,46.39,...,1.16,111.51,112.37,110.79,112.03,18305238.0,0,1,0.5,0.866025
1,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,45.85,...,1.36,111.35,112.01,110.38,110.86,18000724.0,1,1,0.5,0.866025
3,113.62,115.13,113.59,115.06,138671890.0,1.54,45.96,46.640,45.95,46.59,...,1.38,110.95,111.75,110.83,111.52,10467927.0,5,1,0.5,0.866025
4,114.28,114.45,112.98,113.89,216330645.0,1.47,46.27,46.604,45.43,45.92,...,2.14,109.97,110.05,108.46,108.94,17534231.0,6,1,0.5,0.866025
5,113.92,114.27,111.56,111.70,344747028.0,2.71,46.06,46.350,45.30,45.49,...,1.91,108.48,108.78,106.61,107.37,25747831.0,7,1,0.5,0.866025

In [17]:
nulls = df.isnull().sum().sum()

In [18]:
nulls

0

# Running the LSTM model

In [1]:
import pandas as pd

import sys
import os
project_root = os.path.abspath("..")  # Add the project root to the Python path
if project_root not in sys.path:
    sys.path.insert(0, project_root)
    sys.path.append(os.path.abspath('../src/'))

from src.data_preprocessing import DataPreprocessor 
from src.feature_engineering import FeatureEngineering
from src.lstm import lstm
from src.feature_selection import FeatureSelectionWithRFE
from src.evaluate import ModelEvaluator

In [2]:

# Test the preprocessing
file_path = (
    "./data/raw/financial_regression.csv"  # Adjust the path based on your directory structure
)

In [3]:
# Creating an instance of the DataPreprocessor class
dp = DataPreprocessor(file_path=file_path)

# Calling the preprocess method which which will perform all the preprocessing steps
df_preprocess = dp.preprocess()

# Creating an instance of the feature engineering class
ft = FeatureEngineering(df=df_preprocess, dependent_variable='gold close')

df_transformed = ft.data_transformation()

Data has been loaded
No null values found
Data is saved

In [4]:
df_transformed

,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,nasdaq close,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold volume,days_since_start,month_sin,month_cos,gold close
0,-1.270967,-1.270730,-1.265986,-1.267529,0.046746,-0.866654,-1.103567,-1.103690,-1.101662,-1.102769,...,-1.114946,-1.126631,-1.113514,2.991326,-0.429607,1.398865,-1.731300,0.712098,1.264762,112.03
1,-1.268989,-1.273189,-1.276099,-1.278157,1.446430,-0.520342,-1.101933,-1.103447,-1.106356,-1.107179,...,-1.102285,-1.117136,-1.097564,3.784859,-0.350968,1.349603,-1.730658,0.712098,1.264762,110.86
3,-1.278136,-1.270812,-1.272866,-1.266458,0.380345,-0.557985,-1.106017,-1.102718,-1.103885,-1.101136,...,-1.079700,-1.094277,-1.077107,5.694478,-0.343105,0.131002,-1.728091,0.712098,1.264762,111.52
4,-1.272697,-1.276385,-1.277922,-1.276098,1.505513,-0.584334,-1.103485,-1.103009,-1.108168,-1.106607,...,-1.075765,-1.103596,-1.075200,5.837980,-0.044278,1.274137,-1.727449,0.712098,1.264762,108.94
5,-1.275664,-1.277860,-1.289692,-1.294140,3.366088,-0.117565,-1.105200,-1.105068,-1.109239,-1.110118,...,-1.081411,-1.105354,-1.105539,3.235764,-0.134712,2.602874,-1.726807,0.712098,1.264762,107.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,2.613555,2.589495,2.610944,2.583436,-1.130501,0.352968,2.572798,2.543429,2.563092,2.530016,...,-0.242249,-0.235481,-0.232106,-0.196964,-0.301465,-0.725060,1.727960,-1.209013,0.743903,248.63
3900,2.598393,2.583511,2.614426,2.601891,-1.086700,-0.079923,2.553361,2.535973,2.580469,2.556311,...,-0.180071,-0.187477,-0.166573,1.362000,0.054020,-0.295158,1.728602,-1.209013,0.743903,251.27
3901,2.596580,2.579086,2.598015,2.593982,-1.100867,0.462094,2.546747,2.541322,2.564079,2.564069,...,-0.202485,-0.211742,-0.203154,1.590482,0.081544,-0.064636,1.730527,-1.209013,0.743903,251.22
3902,2.573508,2.576217,2.596191,2.591428,-1.133542,0.413196,2.542500,2.551170,2.569515,2.568478,...,-0.181270,-0.175344,-0.167440,0.661282,-0.244846,-0.631208,1.731169,-1.209013,0.743903,253.93
3903,2.575239,2.553338,2.546749,2.547515,-0.941406,1.607824,2.549523,2.525274,2.512522,2.506416,...,-0.199063,-0.201644,-0.200033,0.096405,-0.065628,-0.284420,1.731811,-1.209013,0.743903,250.87

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.callbacks import EarlyStopping

In [6]:
#a%pip install lightgbm

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import RFE
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from lightgbm import LGBMRegressor
from keras.models import Sequential
from keras.layers import Dense, Dropout, GRU, Bidirectional, Activation, Flatten, LSTM, TimeDistributed, RepeatVector
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping, ModelCheckpoint
import matplotlib.pyplot as plt

In [8]:
# Assuming 'data' is your preprocessed pandas dataframe

# Separate the target and features
X = df_transformed.drop(columns=['gold close'])
y = df_transformed['gold close']

In [9]:
# Split the data into train, validation, and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=False)

In [12]:
fs = FeatureSelectionWithRFE(X_train, y_train, X_test,y_test, n_features_to_select=10)

In [13]:
X_train_selected, X_test_selected = fs.perform_feature_selection()

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000897 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 10986
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 45
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001829 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 10731
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 44
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001975 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 10476
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 43
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000856 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 10221
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 42
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001579 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9966
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 41
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001782 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9711
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 40
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002521 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9456
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 39
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000771 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9201
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 38
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000796 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 8946
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 37
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000864 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 8691
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 36
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001162 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 8436
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 35
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000782 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 8181
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 34
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000614 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 7926
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 33
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001185 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 7671
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 32
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000431 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 7416
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 31
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000618 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 7161
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 30
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000548 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 6906
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 29
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000566 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 6651
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 28
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000548 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 6396
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 27
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000515 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 6141
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 26
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000481 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5886
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 25
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000488 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5631
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 24
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000734 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5376
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 23
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000404 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5366
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 22
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000440 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5111
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 21
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000480 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4856
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 20
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002031 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4601
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 19
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000443 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4346
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 18
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000354 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4091
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 17
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000629 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4080
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 16
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000314 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 3825
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 15
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000295 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 3570
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 14
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000502 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 3315
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 13
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000638 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 3060
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 12
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000236 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2805
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 11
[LightGBM] [Info] Start training from score 130.398183
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000215 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2550
[LightGBM] [Info] Number of data points in the train set: 2603, number of used features: 10
[LightGBM] [Info] Start training from score 130.398183
Selected features are index [ 0 12 14 15 19 20 24 32 38 42]

In [14]:
y_train_converted, y_test_converted = fs.convert_y_numpy()

In [15]:
ls = lstm(X_train_selected, y_train, X_test_selected, y_test, units=64, epochs=100, batch_size=16, patience=50, monitor='val_loss')

In [16]:
ls.build_model()

Model built and compiled.

In [17]:
ls.train_model()

Epoch 1/100
163/163 [==============================] - 24s 53ms/step - loss: 15854.0762 - val_loss: 31191.1328
Epoch 2/100
163/163 [==============================] - 5s 29ms/step - loss: 14805.6689 - val_loss: 30283.9531
Epoch 3/100
163/163 [==============================] - 5s 29ms/step - loss: 14111.2090 - val_loss: 29331.7461
Epoch 4/100
163/163 [==============================] - 5s 30ms/step - loss: 13461.9131 - val_loss: 28419.9590
Epoch 5/100
163/163 [==============================] - 5s 31ms/step - loss: 12842.9287 - val_loss: 27616.9727
Epoch 6/100
 69/163 [===========>..................] - ETA: 2s - loss: 12428.8652

KeyboardInterrupt: