In [46]:
import pandas as pd

import sys
import os
project_root = os.path.abspath("..")  # Add the project root to the Python path
if project_root not in sys.path:
    sys.path.insert(0, project_root)
    sys.path.append(os.path.abspath('../src/'))

from src.data_preprocessing import DataPreprocessor


file_path = (
    "../data/raw/financial_regression.csv"  # Adjust the path based on your directory structure
)
data_preprocessor = DataPreprocessor(file_path)
df = data_preprocessor.load_data(file_path)
df.head()

,date,sp500 open,sp500 high,sp500 low,sp500 close,sp500 volume,sp500 high-low,nasdaq open,nasdaq high,nasdaq low,...,palladium high,palladium low,palladium close,palladium volume,palladium high-low,gold open,gold high,gold low,gold close,gold volume
0,2010-01-14,114.49,115.14,114.42,114.93,115646960.0,0.72,46.26,46.520,46.22,...,45.02,43.86,44.84,364528.0,1.16,111.51,112.37,110.79,112.03,18305238.0
1,2010-01-15,114.73,114.84,113.20,113.64,212252769.0,1.64,46.46,46.550,45.65,...,45.76,44.40,45.76,442210.0,1.36,111.35,112.01,110.38,110.86,18000724.0
2,2010-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-19,113.62,115.13,113.59,115.06,138671890.0,1.54,45.96,46.640,45.95,...,47.08,45.70,46.94,629150.0,1.38,110.95,111.75,110.83,111.52,10467927.0
4,2010-01-20,114.28,114.45,112.98,113.89,216330645.0,1.47,46.27,46.604,45.43,...,47.31,45.17,47.05,643198.0,2.14,109.97,110.05,108.46,108.94,17534231.0

In [4]:
columns_backfill = ['us_rates_%','CPI','GDP']
df_back = df
df_back[columns_backfill] = df_back[columns_backfill].fillna(method='bfill')

In [5]:
df_back.loc[:,('date','us_rates_%','CPI','GDP')].head(50)

          date  us_rates_%      CPI        GDP
0   2010-01-14        0.13  217.281  14980.193
1   2010-01-15        0.13  217.281  14980.193
2   2010-01-18        0.13  217.281  14980.193
3   2010-01-19        0.13  217.281  14980.193
4   2010-01-20        0.13  217.281  14980.193
5   2010-01-21        0.13  217.281  14980.193
6   2010-01-22        0.13  217.281  14980.193
7   2010-01-25        0.13  217.281  14980.193
8   2010-01-26        0.13  217.281  14980.193
9   2010-01-27        0.13  217.281  14980.193
10  2010-01-28        0.13  217.281  14980.193
11  2010-01-29        0.13  217.281  14980.193
12  2010-02-01        0.13  217.281  14980.193
13  2010-02-02        0.16  217.353  14980.193
14  2010-02-03        0.16  217.353  14980.193
15  2010-02-04        0.16  217.353  14980.193
16  2010-02-05        0.16  217.353  14980.193
17  2010-02-08        0.16  217.353  14980.193
18  2010-02-09        0.16  217.353  14980.193
19  2010-02-10        0.16  217.353  14980.193
20  2010-02-11        0.16  217.353  14980.193
21  2010-02-12        0.16  217.353  14980.193
22  2010-02-15        0.16  217.353  14980.193
23  2010-02-16        0.16  217.353  14980.193
24  2010-02-17        0.16  217.353  14980.193
25  2010-02-18        0.16  217.353  14980.193
26  2010-02-19        0.16  217.353  14980.193
27  2010-02-22        0.16  217.353  14980.193
28  2010-02-23        0.16  217.353  14980.193
29  2010-02-24        0.16  217.353  14980.193
30  2010-02-25        0.16  217.353  14980.193
31  2010-02-26        0.16  217.353  14980.193
32  2010-03-01        0.16  217.353  14980.193
33  2010-03-02        0.20  217.403  14980.193
34  2010-03-03        0.20  217.403  14980.193
35  2010-03-04        0.20  217.403  14980.193
36  2010-03-05        0.20  217.403  14980.193
37  2010-03-08        0.20  217.403  14980.193
38  2010-03-09        0.20  217.403  14980.193
39  2010-03-10        0.20  217.403  14980.193
40  2010-03-11        0.20  217.403  14980.193
41  2010-03-12        0.20  217.403  14980.193
42  2010-03-15        0.20  217.403  14980.193
43  2010-03-16        0.20  217.403  14980.193
44  2010-03-17        0.20  217.403  14980.193
45  2010-03-18        0.20  217.403  14980.193
46  2010-03-19        0.20  217.403  14980.193
47  2010-03-22        0.20  217.403  14980.193
48  2010-03-23        0.20  217.403  14980.193
49  2010-03-24        0.20  217.403  14980.193

In [12]:
df.dtypes

date                   object
sp500 open            float64
sp500 high            float64
sp500 low             float64
sp500 close           float64
sp500 volume          float64
sp500 high-low        float64
nasdaq open           float64
nasdaq high           float64
nasdaq low            float64
nasdaq close          float64
nasdaq volume         float64
nasdaq high-low       float64
us_rates_%            float64
CPI                   float64
usd_chf               float64
eur_usd               float64
GDP                   float64
silver open           float64
silver high           float64
silver low            float64
silver close          float64
silver volume         float64
silver high-low       float64
oil open              float64
oil high              float64
oil low               float64
oil close             float64
oil volume            float64
oil high-low          float64
platinum open         float64
platinum high         float64
platinum low          float64
platinum close        float64
platinum volume       float64
platinum high-low     float64
palladium open        float64
palladium high        float64
palladium low         float64
palladium close       float64
palladium volume      float64
palladium high-low    float64
gold open             float64
gold high             float64
gold low              float64
gold close            float64
gold volume           float64
dtype: object

In [47]:
columns_to_interploate = ['us_rates_%','CPI','GDP','usd_chf','eur_usd']
df['date']  = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
df[columns_to_interploate] = df[columns_to_interploate].interpolate(method='time')
df.reset_index(inplace=True)
#df[columns_to_interploate] = df_back[columns_to_interploate].fillna(method='bfill')

#df.head(50)

In [48]:
df[columns_to_interploate] = df[columns_to_interploate].fillna(method='bfill')

In [49]:

# df.head()
df.loc[300:350,('date','us_rates_%','CPI','GDP')]

          date  us_rates_%         CPI           GDP
300 2011-03-07    0.132258  223.248645  15500.291500
301 2011-03-08    0.130968  223.282419  15502.581400
302 2011-03-09    0.129677  223.316194  15504.871300
303 2011-03-10    0.128387  223.349968  15507.161200
304 2011-03-11    0.127097  223.383742  15509.451100
305 2011-03-14    0.123226  223.485065  15516.320800
306 2011-03-15    0.121935  223.518839  15518.610700
307 2011-03-16    0.120645  223.552613  15520.900600
308 2011-03-17    0.119355  223.586387  15523.190500
309 2011-03-18    0.118065  223.620161  15525.480400
310 2011-03-21    0.114194  223.721484  15532.350100
311 2011-03-22    0.112903  223.755258  15534.640000
312 2011-03-23    0.111613  223.789032  15536.929900
313 2011-03-24    0.110323  223.822806  15539.219800
314 2011-03-25    0.109032  223.856581  15541.509700
315 2011-03-28    0.105161  223.957903  15548.379400
316 2011-03-29    0.103871  223.991677  15550.669300
317 2011-03-30    0.102581  224.025452  15552.959200
318 2011-03-31    0.101290  224.059226  15555.249100
319 2011-04-01    0.100000  224.093000  15557.539000
320 2011-04-04    0.099000  224.164300  15560.510681
321 2011-04-05    0.098667  224.188067  15561.501242
322 2011-04-06    0.098333  224.211833  15562.491802
323 2011-04-07    0.098000  224.235600  15563.482363
324 2011-04-08    0.097667  224.259367  15564.472923
325 2011-04-11    0.096667  224.330667  15567.444604
326 2011-04-12    0.096333  224.354433  15568.435165
327 2011-04-13    0.096000  224.378200  15569.425725
328 2011-04-14    0.095667  224.401967  15570.416286
329 2011-04-15    0.095333  224.425733  15571.406846
330 2011-04-18    0.094333  224.497033  15574.378527
331 2011-04-19    0.094000  224.520800  15575.369088
332 2011-04-20    0.093667  224.544567  15576.359648
333 2011-04-21    0.093333  224.568333  15577.350209
334 2011-04-22    0.093000  224.592100  15578.340769
335 2011-04-25    0.092000  224.663400  15581.312451
336 2011-04-26    0.091667  224.687167  15582.303011
337 2011-04-27    0.091333  224.710933  15583.293571
338 2011-04-28    0.091000  224.734700  15584.284132
339 2011-04-29    0.090667  224.758467  15585.274692
340 2011-05-01    0.090000  224.806000  15587.255813
341 2011-05-02    0.090000  224.806000  15588.246374
342 2011-05-03    0.090000  224.806000  15589.236934
343 2011-05-04    0.090000  224.806000  15590.227495
344 2011-05-05    0.090000  224.806000  15591.218055
345 2011-05-06    0.090000  224.806000  15592.208615
346 2011-05-09    0.090000  224.806000  15595.180297
347 2011-05-10    0.090000  224.806000  15596.170857
348 2011-05-11    0.090000  224.806000  15597.161418
349 2011-05-12    0.090000  224.806000  15598.151978
350 2011-05-13    0.090000  224.806000  15599.142538

In [50]:
df = df.dropna(subset=['date','gold close'])

In [51]:
df.isna().sum()

date                  0
sp500 open            0
sp500 high            0
sp500 low             0
sp500 close           0
sp500 volume          0
sp500 high-low        0
nasdaq open           0
nasdaq high           0
nasdaq low            0
nasdaq close          0
nasdaq volume         0
nasdaq high-low       0
us_rates_%            0
CPI                   0
usd_chf               0
eur_usd               0
GDP                   0
silver open           0
silver high           0
silver low            0
silver close          0
silver volume         0
silver high-low       0
oil open              0
oil high              0
oil low               0
oil close             0
oil volume            0
oil high-low          0
platinum open         0
platinum high         0
platinum low          0
platinum close        0
platinum volume       0
platinum high-low     0
palladium open        0
palladium high        0
palladium low         0
palladium close       0
palladium volume      0
palladium high-low    0
gold open             0
gold high             0
gold low              0
gold close            0
gold volume           0
dtype: int64